@model BanDienThoaiDiDong.Models.KHACHHANG
@{
    Layout = null;
    ViewBag.Title = "Login";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
</head>
<body>
    <div class="container">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box box1">
            <div class="content">
                <p>login</p>
                <form class="content__form" action="~/Account/Authen" method="post">
                    <div class="content__inputs">
                        <label for="email">
                            <input type="text" name="Email" id="email" required="" />
                            <span>Email</span>
                        </label>
                        <label for="matkhau">
                            <input type="password" name="MatKhau" id="matkhau" required="" />
                            <span>Mật khẩu</span>
                        </label>
                    </div>
                    <button type="submit">Đăng nhập</button>
                </form>
                <div class="content__or-text">
                    <span></span>
                    <span>HOẶC</span>
                    <span></span>
                </div>
                <div class="content__forgot-buttons">
                    <button onclick="location.href='@Url.Action("LoginFacebook", "Account")'">
                        <span>
                            <svg class=""
                                 xml:space="preserve"
                                 style="enable-background: new 0 0 512 512"
                                 viewBox="0 0 408.788 408.788"
                                 y="0"
                                 x="0"
                                 height="512"
                                 width="512"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg">
                            <g>
                            <path class=""
                                  data-original="#475993"
                                  fill="#475993"
                                  d="M353.701 0H55.087C24.665 0 .002 24.662.002 55.085v298.616c0 30.423 24.662 55.085 55.085 55.085h147.275l.251-146.078h-37.951a8.954 8.954 0 0 1-8.954-8.92l-.182-47.087a8.955 8.955 0 0 1 8.955-8.989h37.882v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65a8.955 8.955 0 0 1 8.955 8.955v39.704a8.955 8.955 0 0 1-8.95 8.955l-23.719.011c-25.615 0-30.575 12.172-30.575 30.035v39.389h56.285c5.363 0 9.524 4.683 8.892 10.009l-5.581 47.087a8.955 8.955 0 0 1-8.892 7.901h-50.453l-.251 146.078h87.631c30.422 0 55.084-24.662 55.084-55.084V55.085C408.786 24.662 384.124 0 353.701 0z"></path>
                            </g>
                            </svg>
                        </span>
                        <span>Đăng nhập bằng Facebook</span>
                    </button>
                    <button>Quên mật khẩu?</button>
                </div>
            </div>
        </div>
        <div class="box box2">
            <span>
                <p>
                    Bạn chưa có tài khoản?
                    <a href="~/Account/Register"><span>Đăng kí</span></a>
                </p>
            </span>
        </div>
    </div>
</body>
</html>

@*@<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div>
        @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2>@ViewBag.Title</h2>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                /@Html.LabelFor(m => m.MatKhau)
                @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MatKhau)
            </div>

            <div class="form-group">
                <a href="@Url.Action("Register", "Register")" class="btn btn-link">Register</a>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="form-group">
                <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Google", returnUrl = ViewBag.ReturnUrl })" class="btn btn-google">
                    <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" alt="Google logo" class="btn-icon"> Login with Google
                </a>
                <a href="@Url.Action("LoginFacebook", "Account", new { provider = "Facebook", returnUrl = ViewBag.ReturnUrl })" class="btn btn-facebook">
                    <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook logo" class="btn-icon"> Login with Facebook
                </a>
            </div>
        }-->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<!--</div>
</body>
</html>*@
