@model BanDienThoaiDiDong.Models.KHACHHANG
@{
    Layout = null;
    ViewBag.Title = "Login";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div>
        @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2>@ViewBag.Title</h2>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MatKhau)
                @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MatKhau)
            </div>

            <div class="form-group">
                <a href="@Url.Action("Register", "Register")" class="btn btn-link">Register</a>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="form-group">
                <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Google", returnUrl = ViewBag.ReturnUrl })" class="btn btn-google">
                    <img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" alt="Google logo" class="btn-icon"> Login with Google
                </a>
                <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Facebook", returnUrl = ViewBag.ReturnUrl })" class="btn btn-facebook">
                    <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook logo" class="btn-icon"> Login with Facebook
                </a>
            </div>
        }
        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
    </div>
</body>
</html>