
@model BanDienThoaiDiDong.Models.UserCart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int itemsCount = Model.Items.Count();
}
<link href="~/Content/toast.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        margin-top:100px;
        margin-bottom: 150px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .message {
        font-size: 24px;
        color: #888;
        text-align: center;
    }

    .empty-cart-icon {
        font-size: 120px;
        color: #888;
        margin-bottom: 20px;
    }

    .mybtn {
        display: inline-block;
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .mybtn:hover {
            background-color: #45a049;
        }
</style>
@if (itemsCount == 0)
{
<div class="container">
    <h1 class="title">Giỏ hàng đang trống</h1>
    <i class="fas fa-shopping-cart empty-cart-icon"></i>
    <p class="message">Bạn chưa có sản phẩm nào trong giỏ hàng.</p>
    <a href="/DanhSachSP/Index" class="mybtn">Tiếp tục mua sắm</a>
</div>
}
else
{
    <!---->
    <div class="product">
        <div class="info">
            <span class="question">Giỏ hàng của bạn</span>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="product-item">
                <div class="left">
                    <div>
                        <img width="100" src="~/Images/@item.SANPHAM.Hinh">
                    </div>
                    <div>
                        <a class="btn" href="/ShoppingCart/RemoveCart/@item.id">
                            Xóa
                        </a>
                    </div>
                </div>
                <div class="name-price right">
                    <div>
                        <p> @item.SANPHAM.TenSP </p>
                    </div>
                    <div>
                        <aside>
                            <div>
                                <label style="font-weight: bold;">Dung lượng: @Model.GetDungLuong(item.MaSP)</label>
                            </div>
                        </aside>
                    </div>
                    <div>
                        <aside>
                            <div>
                                <label style="font-weight: bold;">Màu: @Model.GetMau(item.MaSP)</label>
                            </div>
                        </aside>
                    </div>
                </div>
                <div>
                    <p class="money_format" style="color:black">
                        @Model.Total_money_each(item.id).ToString("N0")đ
                    </p>
                </div>
            </div>
            <div>
                <form id='myform' method='POST' class='quantity' action='#' data-form-id="@item.id">
                    <input type="hidden" value="@item.id" id="idPro" />@*@item.product.MaSP*@
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quant' value='@item.SoLuong' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>
            </div>
            <hr />
        }
        <div>
            <label style="font-weight: bold;">Tổng tiền:</label>
            <p class="money money_format">@Model.Total_money().ToString("N0")đ</p>
        </div>
        <form method="post" action="@Url.Action("PayMethod","ShoppingCart")">
            <div class="radio-input">
                <div class="info">
                    <span class="question">Chọn phương thức thanh toán</span>
                </div>
                <input type="radio" id="value-1" name="PaymentMethod" value="1" checked>
                <label for="value-1">Thanh toán khi nhận hàng </label>

                <input type="radio" id="value-2" name="PaymentMethod" value="2">
                <label for="value-2">Thanh toán VNPAY <img src="https://kt.city/static/card-vnpay.png" style="object-fit:cover;width:125px;margin-left:20px" /></label>
                <input type="radio" id="value-3" name="PaymentMethod" value="3">
                <label for="value-3">Thanh toán PAYPAL <img src="https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg" style="object-fit:cover;width:125px;margin-left:20px" /></label>
            </div>
            <div>
                <input type="submit" class="submitorder" value="ĐẶT HÀNG" />
            </div>
        </form>
    </div>
}
<!--Modal success-->
<div class="modal fade" id="myModal-Success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thông báo hệ thống</h3>
            </div>
            <div class="modal-body">
                <h4 class="modalcontent"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal" onclick="CloseModalSuccess()">Đóng</a>
            </div>

        </div>

    </div>

</div>
<!--My modal success-->
<script src="~/Scripts/ScriptGioHang.js"></script>
<script>
     function Show() {
        $("#myModal-Success").modal("show");
    }
    function CloseModalSuccess() {
        $("#myModal-Success").modal("hide");
    }
    function OpenSuccessModal(strMesssage) {
        document.getElementsByClassName("modalcontent")[0].innerHTML = strMesssage;
        $("#myModal-Success").modal('show');
    }
    $(document).ready(function () {
        $(".showmodal").click(function () {
            Show();
        })
        var msg = "@ViewBag.Message";
        if (msg)
            OpenSuccessModal(msg);
    });

</script>
