@model IEnumerable<BanDienThoaiDiDong.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTangChu.cshtml";
}

<h2>Index</h2>

<div class="account_desc">
    <ul>
        @if (Session["idUser"] != null)
        {
            <li class="active">
                <a href="/Admin/QLUser/Profile"> Xin chào: @Session["Email"] </a>

            </li>
            <li class="active">
                <a href="/Admin/QLUser/DangXuat">Đăng xuất</a>
            </li>
        }
        else
        {
            <li class="active"><a href="/Admin/QLUser/DangNhap">Đăng nhập</a></li>
            <li class="active"> <a href="/Admin/QLUser/DangKy">Đăng ký</a></li>
        }


    </ul>
</div>
<table class="table">
    <tr>
        <th>
            HỌ VÀ TÊN KHÁCH HÀNG
        </th>
        <th>
            EMAIL
        </th>
        <th>
            ĐỊA CHỈ
        </th>
        <th>
            SỐ ĐIỆN THOẠI
        </th>
        <th>
            MẬT KHẨU
        </th>
        <th>
            HIỂN THỊ 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HienThi)
        </td>
        <td>
             
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaKH }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
