@using PagedList.Mvc;
@using BanDienThoaiDiDong.Models
@model PagedList.PagedList<BanDienThoaiDiDong.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
 
    <div id="main" class="content">
        <div class="tb">
            <div class="add-product">
                <div style="text-align: right">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group form-inline" style="display: inline-flex; text-align: right;">
                            @Html.TextBox("searchString", "", new { @class = "form-control" })
                            <input type="submit" class="btn btn-success" value="Search" />
                        </div>
                    }
                </div>
            </div>

            <h3>
                Danh sách khách hàng
            </h3>
            <div class="tb-product">
                <div class="tb-product-item header">
                    <div class="tb-product-name">
                        <span>STT</span>
                    </div>
                    <div class="tb-product-des">
                        <span>Họ tên khách hàng</span>
                    </div>
                    <div class="tb-product-img">
                        <span>Email</span>
                    </div>
                    <div class="tb-product-status">
                        <span>Địa chỉ</span>
                    </div>
                    <div class="tb-product-type">
                        <span>Số điện thoại</span>
                    </div>
                    <div class="tb-product-type">
                        <span>Mật khẩu</span>
                    </div>
                    <div class="tb-product-type">
                        <span>Hiển thị</span>
                    </div>
                    <div class="tb-product-acition">

                    </div>
                </div>
                @if (Model != null && Model.Any())
                {
                    var i = 0;
                    foreach (var item in Model)
                    {
                        <!-- Từng sản phẩm -->
                        <div class="tb-product-item">
                            <div class="tb-product-name">
                                <span>@(i+1)</span>
                            </div>
                            <div class="tb-product-des">
                                <span>@Html.DisplayFor(modelItem => item.HoTen)</span>
                            </div>
                            <div class="tb-product-img">
                                <span>@Html.DisplayFor(modelItem => item.Email)</span>
                            </div>
                            <div class="tb-product-status">
                                <span>@Html.DisplayFor(modelItem => item.DiaChi)</span>
                            </div>
                            <div class="tb-product-type">
                                <span>@Html.DisplayFor(modelItem => item.SoDienThoai)</span>
                            </div>
                            <div class="tb-product-type">
                                <span>@Html.DisplayFor(modelItem => item.MatKhau)</span>
                            </div>
                            <div class="tb-product-type">
                                <span>@Html.DisplayFor(modelItem => item.HienThi)</span>
                            </div>
                            <div class="tb-product-acition">
                                @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                        <!-- Kết thúc từng sản phẩm -->
                        i++;
                    }
                }
            </div>
        </div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <div class="MenuTrang" style="text-align: center;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }
            </style>
        </div>
         
        <script>
            const btnElm = document.getElementById("show");
            let isRotated = false;
            let isExpanded = false;
            btnElm.addEventListener("click", (e) => {
                setTimeout(() => {
                    document.querySelectorAll("body > aside > div.sidebar-content > a > span").forEach((item) => {
                        item.classList.toggle('none');
                    })
                }, 300);
                document.getElementsByTagName("header")[0].classList.toggle("togger");
                document.getElementById("main").classList.toggle("togger");
                document.getElementsByTagName("aside")[0].classList.toggle("aside-togger");

                if (isRotated) {
                    btnElm.style.transform = 'rotate(0deg)';
                    isRotated = false;
                } else {
                    btnElm.style.transform = 'rotate(-180deg)';
                    isRotated = true;
                }

                if (isExpanded) {
                    box.style.width = '5.2rem';
                    isExpanded = false;
                } else {
                    box.style.width = '16rem';
                    isExpanded = true;
                }

            });
            var navElm = document.getElementsByClassName('nav')[0];
            navElm.addEventListener('click', (e) => {

                document.getElementsByClassName('nav-content')[0].classList.remove('none');

                document.addEventListener('click', function (event) {
                    const outsideClick = !document.getElementsByClassName('nav')[0].contains(event.target);
                    if (outsideClick) {
                        document.getElementsByClassName('nav-content')[0].classList.add('none');
                    }
                });
            });
        </script>
 </html>





























